2/Grundlagen der Programmierung 2/offline-GP2XML/vfhgp2.GP2XML.offline/GP2XML/04validierung/adressen.dtd

<!--  DTD fuer Adressbuch  -->
<!ELEMENT Adressbuch (Kontakt*)>
<!ELEMENT Kontakt (Name, Adresse)>
<!ATTLIST Kontakt typ (privat | geschaeftlich) "privat">
<!ELEMENT Name (Vorname, Nachname)>
<!ELEMENT Vorname (#PCDATA)>
<!ELEMENT Nachname (#PCDATA)>
<!ELEMENT Adresse (Strasse, PLZ, Ort, Land)>
<!ELEMENT Strasse (#PCDATA)>
<!ELEMENT PLZ (#PCDATA)>
<!ELEMENT Ort (#PCDATA)>
<!ELEMENT Land (#PCDATA)>