2/Grundlagen der Programmierung 2/offline-GP2XML/vfhgp2.GP2XML.offline/GP2XML/04validierung/adressen2.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
 version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Adressbuch">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="Kontakt">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Name">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Vorname" type="xsd:string" />
                    <xsd:element name="Nachname" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Adresse">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Strasse" type="xsd:string" />
                    <xsd:element name="PLZ" type="xsd:string" />
                    <xsd:element name="Ort" type="xsd:string" />
                    <xsd:element name="Land" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="typ" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>



